.rate-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2%;
    align-items: center;
    background-image: linear-gradient(-5deg, rgb(210, 0, 0), rgb(122, 7, 7));
    font-family: var(--roboto);
    font-size: 1.1rem;
    font-style: italic;
}

.rate-title {
    width: 15vw;
    white-space: nowrap;
    font-family: var(--jost);
    letter-spacing: 2px;
    color: cornflowerblue;
    font-style: italic;
    font-size: 1.2vw;
}

.country-rate-container {
    margin-left: 20px;
    width: 90vw;
    height: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

@keyframes run-rate {
    0% { 
        margin-left: 0;
    }
    100% { 
        margin-left: -1500%
    }
}

.iso-rate-container {
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
    white-space: nowrap;
    animation: run-rate 180s linear infinite;
}

.iso-rate {
    font-size: 1vw;
    font-weight: bold;
    color:rgb(143, 235, 6);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    white-space: nowrap;
    margin-right: 30px;
    /* animation: run-rate 120s linear infinite; */
}

